env/
.Rproj.user
.Rhistory
ethEpigen2024_materials.Rproj
week*/aligned
.DS_Store
*.gz
*.array
*.tab
*.files
*.log
*.reads
*.bed
*.zip
*.fa
*.fai
*.bam
*.bai
*.narrowPeak
*.RData
*.fa2
*.rds
rfastp.trimmed/
peaks/
tracks/
